.user-reviews {
    width: 330px;
    height: 480px;
    box-shadow: 2px 2px 5px #BABECC, 2px 2px 5px #BABECC;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
}

.user-reviews img {
    border-radius: 50%;
}

.ratings {
    color: #fb17d0;
}