.header {
    height: 80px;
    background-color: #121037;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px;
}

.header .title {
    font-size: 22px;
}

.header a {
    text-decoration: none;
    color: white;
    margin-left: 35px;
    font-size: 18px;
    font-weight: bold;
}

.header a:hover {
    color: orange;
}


/* Media Query */

@media screen and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: center;
    }

    .header a {
        display: none;
    }
}

/* @media screen and (min-width: 481px) and (max-width: 768px) {
    .header a {
        display: none;
    }
    .header {
        display: flex;
        justify-content: center;
    }
} */